<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuan.dao.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuan.dao.pojo.entity.User">
        <id column="user_name" property="userName" />
        <result column="pass_word" property="passWord" />
        <result column="system_ids" property="systemIds" />
        <result column="is_use" property="isUse" />
        <result column="level" property="level" />
        <result column="token" property="token" />
        <result column="usertoken" property="usertoken" />
        <result column="create_time" property="createTime" />
        <result column="id" property="id" />
    </resultMap>

    <select id="getPageData" resultType="com.xuan.dao.pojo.entity.User">
        select * from user
        <where>
            <if test="PageUserDto.userName != null and PageUserDto.userName != ''">
                and user_name like concat('%',#{PageUserDto.userName},'%')
            </if>
            <if test="PageUserDto.id != null and PageUserDto.id != '' ">
                and id = #{PageUserDto.id}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectByUserName" resultType="com.xuan.dao.pojo.entity.User">
        select * from user
        <where>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
        </where>
    </select>
</mapper>
