<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuan.dao.mapper.postgres.SystemsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuan.dao.pojo.entity.Systems">
        <id column="app_id" property="appId" />
        <result column="appName" property="appName" />
        <result column="appType" property="appType" />
        <result column="create_time" property="createTime" />

    </resultMap>

    <!-- 定义selectNewList方法的SQL查询语句 -->
    <select id="selectNewList" resultType="com.xuan.dao.pojo.entity.Systems">
        SELECT * FROM systems
        <!-- 根据实际情况添加排序条件，例如按时间降序排列，获取最新的记录 -->
        ORDER BY create_time DESC
    </select>
</mapper>
